<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- html meta tags -->
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<link rel="shortcut icon" href="favicon.png" type="image/x-icon">

<!-- facebook meta tags -->
<meta property="og:url" content="https://aqclf.xyz/random-excuse-generate-please{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">

<!-- twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="aqclf.xyz">
<meta property="twitter:url" content="https://aqclf.xyz/random-excuse-generate-please{{ page.url }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">